{% extends 'raisecom/base.html' %}

{% block title %}密码重置确认 {% endblock %}
{% block content %}
    {{ block.super }}
    {% if validlink %}
        <form action="." method="post"  class="text-nowrap">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label id="{{ field.id_for_label }}" class="col-1 col-form-label">{{ field.label }}</label>
                    <div class="col-5">
                        {{ field }}
                        <small class="form-text text-muted">
                            {{ field.help_text|safe }}
                        </small>

                        <small class="text-danger">
                            {{ field.errors|safe }}
                        </small>
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="提交" class="btn btn-primary">
        </form>
    {% else %}
        <p class="ml-3">链接无效（你已经重置过密码了或者链接已过期）</p>
    {% endif %}
{% endblock %}

