{% extends 'raisecom/base.html' %}

{% block title %}密码修改{% endblock %}
{% block content %}
    {{ block.super }}

    {% if form.errors %}
        <small class="text-nowrap text-danger">
            {{ form.non_field_errors|safe }}
        </small>
    {% endif %}

    <form action="." method="post" class="text-nowrap">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group row">
                <label id="{{ field.id_for_label }}" class="col-1 col-form-label">{{ field.label }}：</label>
                <div class="col-5">
                    {{ field }}
                    <small class="form-text text-muted">
                        {{ field.help_text|safe }}
                    </small>

                    <small class="text-danger">
                        {{ field.errors|safe }}
                    </small>
                </div>
            </div>
        {% endfor %}

        <input type="submit" value="提交" class="btn btn-primary">
    </form>

{% endblock %}

