{% extends "raisecom/base.html" %}

{% block title %}密码重置{% endblock %}
{% block content %}
    {{ block.super }}
    <p class="ml-3">请输入注册的Email以重置密码</p>
    <form action="." method="post" class="text-nowrap ml-3" >
        {% csrf_token %}
        <div class="form-group row">
               <label for="{{ form.email.id_for_label }}" class="col-1 col-form-label">{{ form.email.label }}： </label>
                <div class="col-5">
                      {{ form.email }}
                        <small class="form-text text-muted">
                            {{ form.email.help_text|safe }}
                        </small>
                        <small class="text-danger">
                            {{ form.email.errors|safe }}
                        </small>
                </div>
        </div>
        <input type="submit" value="提交" class="btn btn-primary">
    </form>
{% endblock %}